#root {
  max-width: 100vw;
  margin: 0 auto;
}

body {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
  padding: 1rem 1.5rem;
  height: 50px;
}

.navbar-brand a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 3rem;
}

.nav-item {
  margin-left: 0;
}

.nav-link {
  color: whitesmoke;
  text-decoration: none;
  padding: 0.5rem 0;
  transition: border-bottom 0.3s ease;
  color: #fafafa;
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
}

.nav-link:hover {
  border-bottom: 1px solid whitesmoke;
}

.nav-icon:hover {
  border-bottom: none;
}
