#root {
  max-width: 100vw;
  margin: 0 auto;
}

body {
  margin: 0;
}

/* navbar */
.navbar {
  padding: 1rem 2rem;
  border-bottom: 0.25px solid rgb(161 161 170);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  max-width: 82vw;
  margin: auto;
}

.navbar-brand a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 3rem;
}

.nav-item {
  margin-left: 0;
}

.nav-link {
  text-decoration: none;
  padding: 0.5rem 0;
  transition: border-bottom 0.3s ease;
  color: rgb(161 161 170);
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
}

.nav-link:hover {
  border-bottom: 1px solid rgb(161 161 170);
}

.nav-icon:hover {
  border-bottom: none;
}

/* hero */

#hero {
  padding: 5rem 2rem;
}

.container {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
}

.firstBlock {
  margin-top: 1.5rem;
  width: 50vw;
}

.span {
  display: inline-block;
}

.span-content {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;

  background-color: #fafafa;
  color: #18181b;
  font-size: 0.875rem;
  line-height: 1.25rem;

  border-radius: 9999px;
}

.heading {
  font-size: 4.5rem;
  line-height: 1.25;
  font-weight: 700;
}

.heading span {
  color: #a1a1aa;
}

.text {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #a1a1aa;
  max-width: 42rem;
}

.buttons-hero {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 1rem;
}

.button-primary {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  background-color: #fafafa;
  color: #18181b;
  border-radius: 0.5rem;

  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.button-primary:hover {
  background-color: #e4e4e7;
}

.button-secondary {
  cursor: pointer;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  border: 2px solid #fafafa;
  color: #fafafa;
  background-color: transparent;
  border-radius: 0.5rem;

  transition-property: background-color, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.button-secondary:hover {
  background-color: #fafafa;
  color: #18181b;
}

/* About */

.about {
  padding: 5rem 2rem;
  background-color: #27272a;
}

.about-container {
  max-width: 70rem;
  margin: 0 auto;
}

.about-title {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.description-container {
  font-size: 1.125rem;
  line-height: 1.75;
  color: #d4d4d8;
}

.about-p {
  margin-bottom: 1rem;
}



/* Skills */
#skills {
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.skills-container {
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
}

.skills-heading {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .skills-heading {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

#skills-block {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;
}

@media (min-width: 768px) {
  #skills-block {
    grid-template-columns: repeat(3, minmax(0, 1fr)); 
  }
}

.skill-card {
  padding: 1.5rem;
  background-color: #27272a;
  border-radius: 1rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.skill-card:hover {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.skill-icon {
  width: 2.5rem;
  height: 2.5rem;
  margin-bottom: 1rem;
  color: #fafafa;
}

.skill-name {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

#items{
  margin-top: 0.5rem;
}

.items-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.bullet {
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 9999px;
  background-color: #fafafa;
}

.item-name {
  color: #d4d4d8;
}





/* Projects */
#projects {
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #27272a;

}

.projects-container {
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
}

.projects-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.projects-title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  .projects-title {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.view-all-link {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: #a1a1aa;
  
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.view-all-link:hover {
  color: #fafafa;
}

.projects-content {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;
}

@media (min-width: 768px) {
  .projects-content {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .projects-content {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.project-card {
  cursor: pointer;
}

.project-preview {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  margin-bottom: 1rem;
  background-color: #27272a;
  aspect-ratio: 16 / 9;
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.project-card:hover .project-img {
  transform: scale(1.05);
}

.project-overly {
  position: absolute;
  inset: 0;
  background-color: rgb(24 24 27 / 0);
  
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.project-card:hover .project-overly {
  background-color: rgb(24 24 27 / 0.2);
}

.project-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.project-card:hover .project-title {
  color: #a1a1aa;
}

.project-description {
  color: #a1a1aa;
  margin-bottom: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.project-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tech-item {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  
  background-color: #27272a;
  color: #d4d4d8;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 9999px;
}








/* education*/
#educations{
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.edu-container {
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
}

.eduTitle {
  font-size: 1.875rem; /* text-3xl: 30px */
  line-height: 2.25rem;
  font-weight: 700; /* font-bold */
  margin-bottom: 3rem; /* mb-12: 3rem (48px) */
}

@media (min-width: 768px) {
  .eduTitle {
    font-size: 2.25rem; /* md:text-4xl: 36px */
    line-height: 2.5rem;
  }
}








/* contact*/
#contact{
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #27272a;
}

.contact-container {
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
}

.contact-heading {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
}

@media (min-width: 768px) {
  .contact-heading {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.contact-description {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #a1a1aa;
  margin-bottom: 3rem;
  text-align: center;
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
}


























/* Footer */
#footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-top: 1px solid #3f3f46;
}

.footer-container {
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
}

.footer-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .footer-main {
    flex-direction: row;
  }
}

.contents-block {
  text-align: center;
}

@media (min-width: 768px) {
  .contents-block {
    text-align: left;
  }
}

.title {
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.content {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #a1a1aa;
}

.links-block {
  display: flex;
  gap: 1.5rem;
}

.social-links{
  color: #a1a1aa;
  
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.social-links:hover {
  color: #fafafa;
}

.copyright {
  margin-top: 2rem;
  padding-top: 2rem;
  
  border-top: 1px solid #3f3f46;
  
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #a1a1aa;
}