#root {
  max-width: 100vw;
  margin: 0 auto;
}

body {
  margin: 0;
}








/* navbar */
.navbar {
  padding: 1rem 2rem;
  border-bottom: 0.25px solid rgb(161 161 170);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  max-width: 82vw;
  margin: auto;
}

.portfolio-logo {
  color: whitesmoke;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;

  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 3rem;
}

.nav-item {
  margin-left: 0;
}

.nav-link {
  text-decoration: none;
  padding: 0.5rem 0;
  transition: border-bottom 0.3s ease;
  color: rgb(161 161 170);
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
}

.nav-link:hover {
  border-bottom: 1px solid rgb(161 161 170);
}

.nav-icon:hover {
  border-bottom: none;
}

@media (max-width: 850px) {
  .navbar-nav {
    gap: 1.5rem;
  }
}

@media (max-width: 700px) {
  .navbar-nav {
    display: none;
  }
}

.mobile-menu-button-div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media (min-width: 701px) {
  .mobile-menu-button-div {
    display: none;
  }
}

.mobile-menu-button {
  padding: 0.5rem;
  color: #f4f4f5;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.navbar-nav-mobile {
    margin: 1.5rem 0 .5rem 0;
    padding: 0;
}

@media (min-width: 701px) {
  .navbar-nav-mobile {
    display: none;
  }
}

.navbar-nav-mobile > * + * {
  margin-top: 0.75rem; /* space-y-3: 0.75rem (12px) */
}

.nav-item-mobile {
  display: block;
  width: 100%; /* w-full */
  text-align: center; /* text-left */
  padding-left: 1rem; /* px-4: 1rem (16px) */
  padding-right: 1rem;
  padding-top: 0.5rem; /* py-2: 0.5rem (8px) */
  padding-bottom: 0.5rem;
  
  font-size: 1rem; /* text-sm: 14px */
  line-height: 1.25rem;
  font-weight: 500; /* font-medium */
  color: #52525b; /* text-zinc-600 */
}










/* hero */

#hero {
  padding: 5rem 2rem;
}

.container {
  max-width: 82vw;
  display: flex;
  flex-direction: row;
  gap: 5%;
  margin: auto;
}

.firstBlock {
  width: 65%;
}

.span {
  display: inline-block;
}

.span-content {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;

  background-color: #fafafa;
  color: #18181b;
  font-size: 0.875rem;
  line-height: 1.25rem;

  border-radius: 9999px;
}

.heading {
  font-size: 4rem;
  line-height: 1.25;
  font-weight: 700;
}

.heading span {
  color: #a1a1aa;
}

.text {
  font-size: 1.3rem;
  line-height: 1.7rem;
  color: #a1a1aa;
  max-width: 42rem;
}

.buttons-hero {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 1rem;
}

.button-link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.button-primary {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  border: 1px solid #fafafa;
  background-color: #fafafa;
  border-radius: 0.5rem;

  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.button-primary:hover {
  background-color: #e3dfdf;
}

.button-link-primary {
  color: #18181b;
}

.button-secondary {
  cursor: pointer;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  border: 1px solid #fafafa;
  background-color: transparent;
  border-radius: 0.5rem;

  transition-property: background-color, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.button-secondary:hover {
  background-color: #232323;
}

.button-link-secondary {
  color: #fafafa;
}

/* TypewriterEffect */

.typewriter-container {
  /* Ensure the container is inline so the cursor sits next to the text */
  display: inline;
}

.cursor {
  /* Blinking animation */
  animation: blink 0.7s steps(44) infinite normal;
  display: inline-block;
  margin-left: 3px;
  color: inherit; /* Cursor color matches text color */
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.secondBlock {
  width: 30%;
  display: flex;
  justify-content: center;
}

.secondBlock img {
  width: -webkit-fill-available;
}

@media(max-width: 850px){
  .secondBlock{
    display: none;
  }
  .firstBlock{
    width: 100%;
  }
}











/* About */

#About {
  padding: 5rem 2rem;
  background-color: #27272a;
}

.about-container {
  max-width: 82vw;
  margin: auto;
}

.about-title {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  margin: 1rem 0 2rem 0;
}

.description-container {
  font-size: 1.125rem;
  line-height: 1.75;
  color: #d4d4d8;
}

.about-p {
  margin-bottom: 1rem;
}







/* Skills */
#Skills {
  padding: 5rem 2rem;
}

.skills-container {
  max-width: 82vw;
  margin: auto;
}

.skills-heading {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  margin: 1rem 0 3rem 0;
}

@media (min-width: 768px) {
  .skills-heading {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

#skills-block {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 650px) {
  #skills-block {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 850px) {
  #skills-block {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 1050px) {
  #skills-block {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media (min-width: 1200px) {
  #skills-block {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

.skill-card {
  padding: 1rem;
  background-color: #27272a;
  cursor: pointer;
  border-radius: 1rem;
  box-shadow: 0 1px 2px -1px rgba(255, 255, 255, 0.7), 0 1px 2px -2px rgba(255, 255, 255, 0.7);

  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
  height: fit-content;
}

.skill-card:hover {
  box-shadow: 0 2.5px 5px 0 rgba(255, 255, 255, 0.8);
}

.skill-name {
  color: #d4d4d8;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 1rem;
}









/* Projects */
#Projects {
  background-color: #27272a;
  padding: 5rem 2rem;
}

.projects-container {
  max-width: 82vw;
  margin: auto;
}

.projects-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0 3rem 0;
}

.projects-title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  margin: 0;
}

@media (min-width: 768px) {
  .projects-title {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.view-all-link {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: #a1a1aa;

  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.view-all-link:hover {
  color: #fafafa;
}

.projects-content {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .projects-content {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .projects-content {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.project-card {
  cursor: pointer;
}

.project-preview {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  margin-bottom: 1rem;
  background-color: #27272a;
  aspect-ratio: 16 / 9;
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.project-card:hover .project-img {
  transform: scale(1.05);
}

.project-overly {
  position: absolute;
  inset: 0;
  background-color: rgb(24 24 27 / 0);

  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.project-card:hover .project-overly {
  background-color: rgb(24 24 27 / 0.2);
}

.project-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  margin-bottom: 0.5rem;

  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.project-card:hover .project-title {
  color: #a1a1aa;
}

.project-description {
  color: #a1a1aa;
  margin-bottom: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.links-div {
  display: flex;
  flex-direction: row;
  padding: 0.75rem 0;
  gap: 4rem;
}

.repo-link,
.demo-link {
  display: flex;
  align-items: center;
  text-decoration: none;

  padding: 0.25rem 0.75rem;
  border: 2px solid #18181b;
  color: #d4d4d8;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 9999px;
}

.project-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tech-item {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;

  background-color: #18181b;
  color: #d4d4d8;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 9999px;
}


/* load button */
.load-button-div {
    display: flex;
    justify-content: center;
}

.load-button {
    margin: 1rem auto;
    display: flex;
    align-items: center;
    padding: 1rem 3rem;
    border-radius: 1rem;
    cursor: pointer;
    border: 2px solid #fafafa;
    background-color: transparent;
    color: #fafafa;
    font-weight: 400;
    font-size: 1rem;
}









/* educations-certifications */
.educations-certifications  {
  padding: 5rem 2rem;
}

.edu-container {
  max-width: 82vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.eduTitle {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  margin: 1rem 0 2rem 0;
}

@media (min-width: 768px) {
  .eduTitle {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

/* certifications */

.certifications-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.certifications-icon {
  width: 1.5rem;
  height: 1.5rem;
  color: #fafafa;
}

.certifications-title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

.certifications-content {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .certifications-content {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.certification-card {
  padding: 1rem;
  background-color: #27272a;
  border-radius: 0.5rem;

  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.certification-card:hover {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.certification-name {
  font-weight: 600;
  margin: 0.5rem 0;
}

.certification-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.certification-description {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #a1a1aa;
  margin: 0.5rem 0;
}

.certification-year {
  font-size: 0.75rem;
  line-height: 1rem;
  color: #71717a;
  margin: 0.5rem 0;
}

.certification-link {
  color: #a1a1aa;
  text-decoration: none;
  display: block;
  margin: 0.5rem 0;
  width: fit-content;
}

.certification-img {
    width: 20%;
    display: flex;
    align-items: center;
}

.certification-img img{
    width: -webkit-fill-available;
}

/* education */

.educations-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.educations-icon {
  width: 1.5rem;
  height: 1.5rem;
  color: #fafafa;
}

.educations-title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

.educations-content > * + * {
  margin-top: 1.5rem;
}

.education-card {
  padding: 1.5rem;
  border-radius: 0.75rem;
  border-left: 4px solid #fafafa;
  background-color: #27272a;
}

.education-degree {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  margin: 0.75rem 0;
}

.education-institution {
  color: #a1a1aa;
  font-weight: 500;
  margin: 0.75rem 0;
}

.education-year {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #71717a;
  margin: 0.75rem 0;
}

.education-description {
  color: #d4d4d8;
  margin: 0.75rem 0;
}










/* contact*/
#Contact {
  padding: 5rem 2rem;
  background-color: #27272a;
}

.contact-container {
  max-width: 82vw;
  margin: auto;
}

.contact-heading {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  margin: 1rem 0 2rem 0;
  text-align: center;
}

@media (min-width: 768px) {
  .contact-heading {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.contact-description {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #a1a1aa;
  text-align: center;
  max-width: 42rem;
  margin: 1rem auto 3rem auto;
}

.contact-section {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;
}

@media (min-width: 768px) {
  .contact-section {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.contact-info {
  /* space-y-6: adds margin-top to all children except first */
}

.contact-info > * + * {
  /*margin-top: 1.5rem; */
}

.contact-card-container {
  padding: 1.5rem 0;  
  background-color: #27272a;
  border-radius: 0.75rem;
}

.contact-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #18181b;
  border-radius: 10px;
  padding: 1rem;
}

.contact-icon-div {
  padding: 0.75rem;
  background-color: #27272a;
  border-radius: 0.5rem;
}

.contact-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.contact-name {
  font-weight: 600;
  margin: auto;
}

.contact-link {
  color: #a1a1aa;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  text-decoration: none;
}

.contact-link:hover {
  color: #fafafa;
}

.contact-form {
  padding: 2rem;
  background-color: #18181b;
  border-radius: 0.75rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.form-container {
  /* space-y-4: adds margin-top to all children except first */
}

.form-container > * + * {
  margin-top: 1rem;
}

.form-label {
  display: block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.input-form {
  width: 93%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #27272a;
  border: 1px solid #3f3f46;
  border-radius: 0.5rem;
  outline: none;
  color: #fafafa;
}

.input-form:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: 0 0 0 2px #fafafa;
}

.form-error {
  color: #c75555;
  margin: 0.3rem 0 0 0;
}

.form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  background-color: #fafafa;
  color: #18181b;
  border-radius: 0.5rem;

  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  cursor: pointer;
}

.form-button:hover {
  background-color: #e4e4e7;
}










/* Footer */
#footer {
  padding: 2rem 3rem;
  border-top: 1px solid #3f3f46;
}

.footer-container {
  max-width: 82vw;
  margin: auto;
}

.footer-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .footer-main {
    flex-direction: row;
  }
}

.contents-block {
  text-align: center;
}

@media (min-width: 768px) {
  .contents-block {
    text-align: left;
  }
}

.title {
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.content {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #a1a1aa;
  margin: 1.5rem 0;
}

.links-block {
  display: flex;
  gap: 1.5rem;
}

.social-links {
  color: #a1a1aa;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  cursor: pointer;
}

.social-links:hover {
  color: #fafafa;
}

.copyright {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #3f3f46;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #a1a1aa;
}



/* Go to top Button */
.go-to-top-button {
  position: fixed;
  cursor: pointer;
  bottom: 4rem;
  right: 2rem;
  
  background-color: whitesmoke;
  color: #000000;
  padding: 0.75rem;
  border-radius: 9999px;
  
  z-index: 50;
  
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.go-to-top-button:hover {
  background-color: #ffffff;
  transform: scale(1.1);
}